.nav {
  grid-area: nav;
  width: 100%;
  min-height: 75px;
  max-height: 75px;
  /* padding: 1rem; */
}

.main {
  grid-area: m;
  width: 850px;
  min-height: 1000px;
  /* background-color: rgb(224, 237, 80); */
  margin: 0 5%;
  margin-bottom: 10%;
}

.aside {
  grid-area: a;
  width: 450px;
  /* background-color: rgb(245, 23, 215); */
  /* padding-right: 1rem; */
  margin-right: 3%;
}

.layout {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "nav nav"
    "m a ";
}
